<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Survey Site</title>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="header-main">
    <nav class="header-nav">
      <div class="header-logo">
        <img src="/images/teamlogo.png" alt="Team Logo">
      </div>
      <ul>
        <li><a href="/" class="nav-item">Home</a></li>
        <li><a href="/surveys/new" class="nav-item">Create Survey</a></li>
        <li><a href="/surveys" class="nav-item">Survey List</a></li>
        <li><a href="/logout" class="nav-item">Logout</a></li>
      </ul>
    </nav>
  </header>

</body>

</html>