<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <% include('partials/header') %>

        <h1>Login with GitHub or Google</h1>

        <!-- GitHub Login Button -->
        <p>Click the button below to log in using your GitHub account:</p>
        <a href="/login/github">Login with GitHub</a>

        <!-- Google Login Button -->
        <p>Or click the button below to log in using your Google account:</p>
        <a href="/login/google">Login with Google</a>

        <% include('partials/footer') %>
</body>

</html>